#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.App {
  border: 0px solid;
  border-radius: 25px;
  padding: 2.35rem;
  background-color: rgb(15 23 42 / 83%);
}

.date{
  font-size: 22px;
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
}

.date span{
  font-weight: 400;
}

.add-student {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
}

.add-student input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: rgb(33 30 57 / 87%);
  border: 1px solid #646cff;
  color: #ffffff;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

.error{
  border: 2px solid red;
  transform: scale(.9);
}

.data-card-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.data-card {
  border-radius: 30px;
  box-shadow: 0 3px 15px rgb(15 23 42 / 83%);
  background-color: #646cff;
  flex-basis: 50%;
  padding: 20px;
  text-align: start;
}

.data-card h5 {
  font-size: 18px;
}

.data-card p {
  font-size: 18px;  
}

.data-card:last-child{
  text-align: right;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #646cff;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.students {
 display: flex; 
 flex-direction: column;
 gap: 1rem;
}